# Ignorar pastas locais e arquivos temporários
.venv/
__pycache__/
*.pyc
.DS_Store
*.sqlite3
Desktop/
build/
dist/
*.log
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Artefatos do Django
media/
staticfiles/

# Ambientes e segredos
.env
