asgiref==3.10.0
cachetools==6.2.1
certifi==2025.10.5
charset-normalizer==3.4.4
dj-database-url==2.2.0
Django==5.0.6
django-storages==1.14.6
google-api-core==2.26.0
google-auth==2.41.1
google-cloud-core==2.4.3
google-cloud-storage==3.4.1
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.71.0
gunicorn==22.0.0
idna==3.11
packaging==25.0
pillow==10.3.0
proto-plus==1.26.1
protobuf==6.33.0
psycopg2-binary==2.9.9
pyasn1==0.6.1
pyasn1_modules==0.4.2
python-dotenv==1.0.1
requests==2.32.5
rsa==4.9.1
sqlparse==0.5.3
typing_extensions==4.15.0
urllib3==2.5.0
whitenoise==6.6.0
