{% extends "core/base.html" %}
{% block content %}
<h3>👥 Membros</h3>

<table class="table table-striped table-bordered table-hover align-middle">
  <thead class="table-success text-center">
    <tr>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Email</th>
      <th>Batizado</th>
    </tr>
  </thead>
  <tbody>
    {% for m in membros %}
    <tr>
      <td>{{ m.nome }}</td>
      <td>{{ m.telefone }}</td>
      <td>{{ m.email }}</td>
      <td class="text-center">{{ m.batizado|yesno:"Sim,Não" }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="4" class="text-center text-muted">Nenhum membro cadastrado.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
