{% extends "core/base.html" %}
{% block content %}
<h3>🕊️ Escala de Serviço</h3>

<table class="table table-striped table-bordered table-hover align-middle">
  <thead class="table-secondary text-center">
    <tr>
      <th>Data</th>
      <th>Culto</th>
      <th>Obreiros Escalados</th>
    </tr>
  </thead>
  <tbody>
    {% for e in escalas %}
    <tr>
      <td class="text-center">{{ e.data|date:"d/m/Y" }}</td>
      <td>{{ e.culto }}</td>
      <td>
        {% for o in e.obreiros.all %}
          <span class="badge text-bg-success">{{ o.nome }}</span>
        {% empty %}
          <span class="text-muted">Nenhum obreiro escalado</span>
        {% endfor %}
      </td>
    </tr>
    {% empty %}
    <tr><td colspan="3" class="text-center text-muted">Nenhuma escala cadastrada.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
